@media only screen and (max-width: 600px) {
	body {
		background-color: #f0f0f0;
		background-image: none;
	}

	.sidebar-wrapper {
		position: fixed;
		right: 0;
		top: 0;
		background: white;
		height: 100vh;
		width: 50%;
		z-index: 5;
		text-transform: uppercase;
		text-align: left;
		transform: translateX(100%);
		transition: transform 0.5s ease-in-out;
	}

	.open-nav {
		transform: translateX(0%);
	}

	.header {
		margin-left: 40px;
	}

	.burger-menu {
		width: 45px;
		display: grid;
		margin: 20px 10px 0px 0px;
	}

	.close-btn {
		display: grid;
		margin: 1em 0em 0em 3em;
		width: 30px;
		cursor: pointer;
	}

	.logo-mobile {
		display: grid;
		width: 30px;
	}

	.head-logo {
		display: none;
	}

	.logotext {
		color: #2d3a5e;
	}

	.sidebar-buttons li {
		font-size: 20px;
		color: #2d3a5e;
	}

	.sidebar-buttons ul {
		list-style-type: none;
	}

	.activity-container {
		width: 100%;
	}

	/* Head Navigation */

	.navigation {
		margin: auto;
		padding: 0;
		width: 90%;
	}

	/* Badge */
	.count {
		top: -15px;
		color: white;
    	left: -175px;
	}

	/* Table */
	/* Table */

	.table-activity{
		width: 70%;
		margin: auto;
	}

	.content{
		width: 100%;
		display: grid;
		overflow-y: auto;
		height: 80vh;
		
	}

	.table-content{
		width: 100%;
	}

	.content::-webkit-scrollbar{
		display: none;
	}


	th {
		font-size: 15px;
	}
	td{
		font-size: 12px;
	}

	th, td{
		padding-top: 5px;
		padding-bottom: 10px;
		padding-left: 0px;
		padding-right: 25px;
	}
}

@media only screen and (max-width: 480px) {
	.count {
		/* top: -40px; */
		left:-125px;
	}
	.sidebar-buttons li {
		font-size: 13px;
		padding: 20px;
	}

	.close-btn {
		margin: 1em 0em 0em 1em;
		width: 30px;
	}

	.navigation h1{
		font-size: 1.5em;
	}

	.navigation .rent-btn{
		width: 60px;
		/* padding: 8px 27px; */
		text-align: center;
		justify-content: center;
		align-items: center;
		font-size: 10px;
		justify-content: space-between;
		margin: 20px 0px;

	}

	.navigation .rent-btn svg{
		padding: 2px 5px;
		margin: auto;
		text-align: center;
	}

}

@media only screen and (max-width: 480px) {
	.sidebar-wrapper{
		width: 55%;
	}
}
