@media only screen and (max-width: 600px) {
	body {
		background-image: url(../../../images/homebg2.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: bottom;
		background-attachment: fixed;
		height: auto;
		width: auto;
	}

	.burger-menu {
		display: grid;
		margin-right: 10px;
	}

	.right-navi {
		position: fixed;
		right: 0;
		top: 0;
		background: white;
		height: 100vh;
		width: 50%;
		z-index: 5;
		text-transform: uppercase;
		text-align: left;
		transform: translateX(100%);
		transition: transform 0.5s ease-in-out;
	}

	.open-nav {
		transform: translateX(0%);
	}

	.menu-list {
		margin-top: 6em;
	}

	.close-btn {
		display: grid;
		float: right;
		margin: 1em;
		width: 40px;
	}

	.menu {
		padding: 10px;
		display: block;
		padding-left: 2em;
		color: black;
		font-size: 25px;
		width: 100%;
	}

	.menu:hover {
		background-color: #e7e7e7;
	}

	.sign-in-button {
		background-color: #1fb89c;
		border: none;
		color: white;
		font-size: 20px;
		width: 100%;
		padding: 8px 60px;
	}

	.sign-in-button:hover {
		color: none;
	}

	/* Center Contents */

	.banner-logo {
		width: 90px;
		height: 180px;
	}

	.homepage-banner {
		/* margin: auto; */
		/* flex-direction: column;
      justify-content: center;
      align-items: center; */
		/* border: 1px #ccc solid; */
		padding: 10px;
		margin-top: 70px;
	}

	.homepage-banner-title {
		text-align: center;
		font-family: Anton;
		font-size: 35px;
		color: #2d3a5e;
		margin: 0;
		padding: 10px;
	}

	.getting-started-button {
		background-color: #2d3a5e;
		color: white;
		padding: 10px 50px;
		font-size: 12px;
		font-family: Poppins;
		border-radius: 4px;
		border-color: none;
		cursor: pointer;
	}
}
