@media only screen and (max-width: 600px) {
	body {
		background-image: url(../../../images/homebg2.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: bottom;
		background-attachment: fixed;
		height: auto;
		width: auto;
	}

	.burger-menu {
		display: grid;
		margin-right: 10px;
	}

	.right-navi {
		position: fixed;
		right: 0;
		top: 0;
		background: white;
		height: 100vh;
		width: 50%;
		z-index: 5;
		text-transform: uppercase;
		text-align: left;
		transform: translateX(100%);
		transition: transform 0.5s ease-in-out;
	}

	.open-nav {
		transform: translateX(0%);
	}

	.menu-list {
		margin-top: 6em;
	}

	.close-btn {
		display: grid;
		float: right;
		margin: 1em;
		width: 40px;
	}

	.menu {
		padding: 10px;
		display: block;
		padding-left: 2em;
		color: black;
		font-size: 25px;
		width: 100%;
	}

	.menu:hover {
		background-color: #e7e7e7;
	}

	.sign-in-button {
		display: none;
	}

	.main-container {
		width: 100%;
		height: fit-content;
		/* background-color: #5c7a7b; */
		display: grid;
		place-items: center;
	}

	.signin-container {
		margin: 0;
		width: 70%;
	}

	h3 {
		font-size: 35px;
	}

	input {
		font-family: Poppins;
		font-size: 18px;
		border-radius: 10px;
		height: 30px;
		width: 97%;
	}

	.signin-fields {
		margin-bottom: 15px;
	}

	.signin-btn-field {
		font-size: 15px;
		padding: 8px 40px;
		border-radius: 15px;
	}
}
