/* fonts */
@font-face {
	font-family: Anton;
	src: url(../../../fonts/Anton-Regular.ttf);
}

@font-face {
	font-family: Poppins;
	src: url(../../../fonts/Poppins-Regular.ttf);
}

@font-face {
	font-family: Roboto;
	src: url(../../../fonts/Roboto-Regular.ttf);
}

body {
	background-color: #ededed;
	margin: 0;
}

/* Sidebar */

.header {
	display: flex;
	justify-content: center;
}

.burger-menu {
	display: none;
	float: right;
	width: 2em;
	cursor: pointer;
}

.close-btn {
	display: none;
}

.logo-mobile {
	display: none;
}

img {
	margin-top: 15px;
}

.logotext {
	margin-top: 20px;
	padding-left: 10px;
	color: white;
	font-size: 25px;
	font-family: Anton;
}

.sidebar-wrapper {
	float: left;
	background-color: #2d3a5e;
	width: 20%;
	height: 100vh;
}

.head-logo {
	width: 30px;
}

.sidebar-buttons {
	padding-left: 5px;
	padding-top: 50px;
}

svg {
	padding-right: 15px;
}

.sidebar-list {
	width: 100%;
	padding: 0%;
}

.sidebar-buttons {
	margin-top: 2em;
	padding: 0;
	list-style-type: none;
}

.sidebar-buttons li {
	padding: 25px;
}

.list:hover {
	background-color: #ececec57;
}

.logout {
	width: 20%;
	background-color: #3c817e;
}

.logout-text {
	position: absolute;
	bottom: 20px;
	padding-left: 25px;
	color: red;
}

/* a tag */
a {
	font-family: Poppins;
	font-size: 20px;
	text-decoration: none;
	color: white;
}

/* Container  */

.activity-container {
	/* background-color: rgba(0, 0, 255, 0.513); */
	width: 80%;
	height: 100vh;
	float: right;
}

.navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 50px;
	font-family: Poppins;
}

h1 {
	color: #2d3a5e;
}

.rent-btn {
	margin: 10px;
	font-family: Poppins;
	font-size: 20px;
	padding: 8px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: #fff;
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	width: 200px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	cursor: pointer;
	display: inline-block;
	border-radius: 25px;
	border: none;
}

.gradient-button:hover {
	background-position: right center;
}

.gradient-button {
	background-image: linear-gradient(
		to right,
		#3c817e 0%,
		#c3b790 51%,
		#576fb0 100%
	);
}

.table-activity {
	font-family: Poppins;
	margin: auto;
	width: 87%;
	background-color: #ffffff;
	padding: 20px 50px;
	border-radius: 8px;
}

.content {
	margin: auto;
	width: 100%;
	overflow-y: auto;
	height: 80vh;
	/* background-color: #2d3a5e; */
}

.content thead th {
	position: sticky;
	top: 0px;
	text-decoration: underline;
	background-color: white;
}

.content::-webkit-scrollbar {
	display: none;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th {
	color: #576fb0;
	font-size: 20px;
}

th,
td {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 40px;
}

.count {
	background-color: red;
	border-radius: 30%;
	padding: 2px 7px;
	font-style: normal;
	font-size: 12px;
	position: relative;
	top: -20px;
	left: -150px;
}
