/* fonts */
@font-face {
	font-family: Anton;
	src: url(../../../fonts/Anton-Regular.ttf);
}

@font-face {
	font-family: Poppins;
	src: url(../../../fonts/Poppins-Regular.ttf);
}

@font-face {
	font-family: Roboto;
	src: url(../../../fonts/Roboto-Regular.ttf);
}

html,
body {
	margin: 0px;
	padding: 0px;
	font-family: poppins;
	background: rgb(238, 240, 245);
	color: #2d3a5e;
	/* background: linear-gradient(138deg, rgba(238,240,245,1) 1%, rgba(212,216,225,1) 100%); */
}

html::-webkit-scrollbar {
	display: none;
}

*:focus {
	outline: none;
}

/*------------------------- Side Menu ------------------------*/

.sidemenu {
	float: left;
	position: fixed;
	background-color: #fff;
	width: 6%;
	height: 100vh;
	display: block;
	z-index: 5;
}

.sidemenu .MenuServices {
	margin: 150px 0px;
	/* background-color: aqua; */
}

.sidemenu a {
	color: #2d3a5e;
	display: flex;
	justify-content: center;
	text-decoration: none;
	padding: 20px 10px;
	margin: 10px;
	/* background-color: brown; */
	border-radius: 10px;
}

.sidemenu a .tooltip {
	position: absolute;
	transform: translateY(-27%);
	transition: 0s;
	left: 10%;
	text-align: center;
	justify-content: center;
	text-decoration: none;
	padding: 7px 25px;
	background-color: #2db6b0;
	color: #fff;
	border-radius: 50px;
	opacity: 0;
	pointer-events: none;
	box-shadow: rgba(150, 150, 168, 0.2) 0px 7px 29px 0px;
}

.sidemenu a:hover .tooltip {
	transition: all 0.4s ease;
	left: 110%;
	opacity: 1;
}

.sidemenu .logotext {
	display: flex;
	justify-content: center;
	text-decoration: none;
	padding: 20px 10px;
	margin: 10px;
	background-color: none;
	border-radius: 10px;
	top: 100px;
	position: static;
	overflow: hidden;
}

img {
	width: 30px;
}

.logout {
	position: relative;
	bottom: -20px;
}

.log {
	align-items: center;
	justify-content: center;
}

.MenuServices a:hover,
.log a:hover {
	background-color: #ececec;
}

/*------------ User Content -------------*/

.UserContent {
	width: 94%;
	height: 100vh;
	float: right;
	/* background-color: antiquewhite; */
	padding: 0px;
	margin: 0px;
}

/*-------------- Navigation ----------------*/

.Navigation {
	/* background-color:#456244; */
	padding: 35px 50px;
	align-items: center;
	border-bottom: #fff solid 3px;
}

h2 {
	padding: 0px;
	margin: 0px;
	font-family: anton;
}

/*--------------- User Container -----------------*/

.UserContainer {
	/* background-color: aquamarine; */
	margin: 0px;
	height: 88.8vh;
	display: flex;
}

.UserUserList {
	background-color: #fff;
	width: 35%;
	height: 100%;
	/* float: right; */
	order: 2;
}

.RequestSub_Container {
	background-color: #fff;
	padding: 0px 30px;
	height: 97.55%;
}

.Request:hover {
	background-color: #ececec;
}

.RequestList {
	overflow-y: auto;
	height: 90%;
	width: 100%;
	overflow-x: auto;
}

.RequestList::-webkit-scrollbar {
	display: none;
}

.button button,
.UserRequest {
	/* background-color: #7d94d3; */
	display: flex;
	align-items: center;
	border-radius: 5px;
}

.button button {
	gap: 20px;
	margin: 10px 0px;
	/* border: #fff 2px solid; */
	border-radius: 10px;
}

.UserRequest {
	/* background-color: salmon; */
	width: 98%;
	cursor: pointer;
}

.Request img {
	width: 70px;
	border-radius: 10px;
	margin: 10px;
}

.RequestInfo {
	width: 100%;
	display: flex;
	/* background-color: #ececec; */
	align-items: center;
}

.RequestInfo .info {
	display: grid;
	width: 74%;
	text-align: left;
	/* background-color: #F85050; */
}

.SubscriberBagde {
	float: right;
	padding: 5px 8px;
	color: #fff;
	border-radius: 20px;
	font-size: 10px;
	margin: auto;
}

.SubscriberBagde1 {
	float: right;
	padding: 5px 8px;
	/* background-color: #2DB6B0; */
	color: #fff;
	border-radius: 20px;
	font-size: 10px;
}

button .RequestInfo {
	font-size: 16px;
}

.button button,
.penalty button {
	font-family: poppins;
	font-size: 12px;
	/* background-color: #fff; */
	outline: none;
	padding: 0px 10px;
	border-radius: 7px;
	cursor: pointer;
	float: right;
}

.button,
.penalty {
	float: right;
}

.Request {
	font-family: poppins;
	font-size: 12px;
	background-color: #fff;
	outline: none;
	padding: 0px 10px;
	border-radius: 7px;
	cursor: pointer;
	width: 100%;
	border: none;
	margin: 10px 0px;
}

.hide {
	display: none;
}

.show {
	display: flex;
}

.Request .Accept,
.UserUserInfo .Accept {
	border: 2px solid #2db6b0;
	background-color: #2db6b0;
	color: #fff;
}

.Request .End_penalty,
.UserUserInfo .End_penalty {
	border: 2px solid #2d3a5e;
	background-color: #2d3a5e;
	color: #fff;
}

.Request .Cancel,
.UserUserInfo .Cancel {
	border: 2px solid #f85050;
	background-color: #f85050;
	color: #fff;
}

/*------- Subscriber User Information ---------*/

.UserUserInfo button {
	float: right;
	margin: 30px 5px;
	padding: 5px 10px;
}

.UserUserInfo {
	/* background-color: tomato; */
	height: 95%;
	width: 60%;
	padding: 20px;
	margin: auto;
	order: 1;
}

.UserUserInfoContainer {
	/* background-color: #a4a4a4; */
	margin: auto;
	display: block;
}

.UserUserInfo b {
	font-size: 30px;
}

.UserInfo span b {
	font-size: 16px;
}

.UserUserInfo .UserDetails {
	margin-bottom: 30px;
}

.UserBasicInfo {
	display: flex;
	gap: 20px;
	padding: 20px 0px 50px 0px;
	align-items: center;
}

.UserBasicInfo img {
	width: 150px;
	border: #adb0b8 solid 4px;
	border-radius: 5px;
}

.UserInfo {
	display: grid;
	align-items: center;
	/* justify-content: center; */
	width: 100%;
}

.EditBtn {
	float: right;
	padding: 10px 15px;
	border-radius: 10px;
	cursor: pointer;
}

.EditBtn:hover {
	background-color: #e5e3ee;
}

.FirstRow1 .InputField1,
.InputTittle {
	width: 100%;
	gap: 10px;
	display: flex;
}

.InputField input:focus,
.InputField1 input:focus {
	border: #2db6b0 solid 1px;
}

.InputTittle {
	color: #2d3a5e;
	display: flex;
}

.InputTittle span {
	width: 100%;
	margin-top: 20px;
}

.FirstRow .InputField {
	width: 100%;
	gap: 10px;
	/* background-color: #F85050; */
	display: flex;
}

.FirstRow {
	display: flex;
}

.FirstRow input,
.FirstRow1 input,
select {
	padding: 15px 20px;
	border-radius: 7px;
	margin: 5px 0px;
	border: #a4a4a4 solid 2px;
	outline: none;
	width: 100%;
	background: none;
}

.NoCursor {
	cursor: not-allowed;
}

/*-------------------- Proof of Payment Image ---------------------*/

.FirstRow .ProofOfPayment {
	width: 100%;
	margin-top: 10px;
	background: none;
	display: flex;
	align-items: center;
	border-radius: 10px;
	border: #a4a4a4 solid 2px;
	cursor: pointer;
}

.FirstRow .image {
	width: 100px;
	height: 50px;
	object-fit: cover;
	border-radius: 10px;
	margin: 10px 20px 10px 10px;
}

/* PopUp Image */
.PopupImage {
	position: fixed;
	height: 100vh;
	width: 100%;
	background-color: rgba(81, 81, 87, 0.5);
	z-index: 10;
	align-items: center;
	justify-content: center;
	display: none;
	/* transition: all 0.9s ease; */
}

.PopupImageContainer {
	background-color: #fff;
	opacity: 1;
	width: fit-content;
	height: fit-content;
	margin: auto;
	border-radius: 10px;
	align-items: center;
	justify-content: center;
}

.Topbar {
	padding: 10px 30px;
	align-items: center;
	height: fit-content;
	display: flex;
}

.ImageFile {
	float: left;
	width: 98%;
}

.CloseBtn {
	float: right;
	align-items: center;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 10px;
}

.CloseBtn:hover {
	background-color: #ececec;
	color: #2db6b0;
}

.image img {
	height: 50vh;
	width: fit-content;
	border-radius: 0px 0px 10px 10px;
	margin-bottom: -8px;
	/* background-color: #F85050; */
}

/* ----------------------------------- No Results -------------------------------------- */
.NoResultsImg {
	width: 300px;
	margin: auto;
	opacity: 0.7;
	margin-bottom: 0px;
	margin-top: 0px;
}
.NoResults {
	margin: auto;
	width: 100%;
	height: 100%;
	justify-content: center;
	display: flex;
	flex-direction: column;
}
.NoResultsP {
	text-align: center;
	margin-bottom: 0px;
	color: #2d3a5e;
	font-weight: bold;
}
.NoResultsSmall {
	text-align: center;
	margin-top: 0px;
	color: #a4a4a4;
}
